main {
  margin: 0 auto;
  padding: 20px;
}

main h1 {
  text-align: center;
}

main h3{
  text-align: center;
  padding: 20px;
}

.preference-container{
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  gap: 20px;
  padding: 10px;
}

button{
  max-width: 60px;
  margin: 5px;
}

form{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 35px;
  flex-wrap: wrap;
  max-height: 750px;
}

.preference {
  padding: .4em;
}

.preference input {
  padding: 10px;
}

.destination {
  font-style: bold;
  font-size: 120%;
}

@media screen and (max-width: 500px){
  form-> input, label{
    font-size: 80%;
  }
  main h3{
    font-size: 135%;
  }
  main h1{
    font-size: 150%;
  }
}