[Unit]
Description=JAND deploy server.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/jand-deploy-server/jand-deploy-server.php
User=jand
Group=jand
Restart=always
RestartSec=3s

[Install]
WantedBy=default.target
