/vendor/
/frontend/src/rabbitmq.ini
/frontend/jand-frontend.conf
/db/db-connector/src/rabbitmq.ini
/dmz/src/rabbitmq.ini
/dmz/src/includes/responders/amadeus.ini
/deploy/server/src/rabbitmq.ini
/deploy/client/src/rabbitmq.ini
/deploy/bundler/src/rabbitmq.ini
/deploy/bundler/src/ssh.ini
/deploy/installer/src/rabbitmq.ini
/deploy/installer/src/ssh.ini
/logger/src/rabbitmq.ini
/db/db-timer/src/rabbitmq.ini
/server-ip-config
