#!/usr/bin/env bash

# Dev servers.
DEV_FE_IPV4=<DEV FRONTEND IPV4>
DEV_FE_IPV6=<DEV FRONTEND IPV6>
DEV_BE_IPV4=<DEV BACKEND IPV4>
DEV_BE_IPV6=<DEV BACKEND IPV6>
DEV_DMZ_IPV4=<DEV DMZ IPV4>
DEV_DMZ_IPV6=<DEV DMZ IPV6>

# QA servers.
QA_FE_IPV4=<QA FRONTEND IPV4>
QA_FE_IPV6=<QA FRONTEND IPV6>
QA_BE_IPV4=<QA BACKEND IPV4>
QA_BE_IPV6=<QA BACKEND IPV6>
QA_DMZ_IPV4=<QA DMZ IPV4>
QA_DMZ_IPV6=<QA DMZ IPV6>

# Prod servers.
PROD_FE_A_IPV4=<PROD FRONTEND A IPV4>
PROD_FE_A_IPV6=<PROD FRONTEND A IPV6>
PROD_FE_B_IPV4=<PROD FRONTEND B IPV4>
PROD_FE_B_IPV6=<PROD FRONTEND B IPV6>
PROD_FE_HA_IPV4=<PROD FRONTEND HA IPV4>
PROD_FE_HA_IPV6=<PROD FRONTEND HA IPV6>
PROD_BE_A_IPV4=<PROD BACKEND A IPV4>
PROD_BE_A_IPV6=<PROD BACKEND A IPV6>
PROD_BE_B_IPV4=<PROD BACKEND B IPV4>
PROD_BE_B_IPV6=<PROD BACKEND B IPV6>
PROD_BE_HA_IPV4=<PROD BACKEND HA IPV4>
PROD_BE_HA_IPV6=<PROD BACKEND HA IPV6>
PROD_DMZ_A_IPV4=<PROD DMZ A IPV4>
PROD_DMZ_A_IPV6=<PROD DMZ A IPV6>
PROD_DMZ_B_IPV4=<PROD DMZ B IPV4>
PROD_DMZ_B_IPV6=<PROD DMZ B IPV6>
PROD_DMZ_HA_IPV4=<PROD DMZ HA IPV4>
PROD_DMZ_HA_IPV6=<PROD DMZ HA IPV6>
