nav {
  background-color: #e3f2fd;
}

.dropdown-item:visited {
  color: #000;
}

main {
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.error {
  color: red;
}

.input-group>.form-control {
  width: initial;
}

table.table-borders th,
table.table-borders td {
  margin-top: 15px;
  border: .1em solid #D3D3D3;
  padding: .5em;
  border-radius: 10px;
  border-collapse: collapse;
  font-weight: bold;
}

table.table-borders {
  border-radius: 15px;
  padding: 5px;
}

div.flight-result {
  padding: 2em;
  display: flex;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/*user trips page*/
.trips-container {
  margin: 0 auto;
  max-width: 850px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.create-heading {
  padding-bottom: 5px;
}

#create-new-trip {
  text-align: center;
  background-color: #e3f2fd;
  max-width: 140px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

/*user-trips create page*/
.create-trips-ctr {
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
}

.trip-heading {
  padding-top: 20px;
  padding-left: 20px
}

#create-trip-form table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#create-trip-form input {
  padding: 8px;
  margin: 4px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 15px !important;
  /*makes the input round and not square*/
  flex-grow: 1;
  /*Input expands to fill the space */
  margin-right: 15px;
}

#create-submit {
  margin-left: 1px !important;
  background-color: #007bff;
  cursor: pointer !important;
  margin-top: 30px !important;
}

#delete-trip-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#delete {
  width: 50%;
  margin-top: -20px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: #007bff;
  cursor: pointer !important;
}

@media screen and (max-width: 650px) {

  .create-heading,
  #create-new-trip {
    text-align: center;
    align-self: center;
  }

  .trip-heading {
    text-align: center;
    padding-left: 0px;
  }

  .trips-container {
    font-size: 80%;
  }

  .create-trips-ctr {
    font-size: 80%;
  }
}

/*login and register*/

.initial-ctr {
  margin: 0 auto;
  background-color: #fff;
  max-width: 400px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial-ctr form {
  font-size: 90%;
}

.initial-ctr tr,
.initial-ctr th {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
}

.initial-ctr input {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
}

.initial-ctr input[type='submit'] {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #007bff;
  margin-top: 5px;
}

.initial-ctr input[type='submit']:hover {
  background-color: #1a42c5;
}