nav {
  background-color: #e3f2fd;
}

main {
  margin: .2em .2em;
}

.error {
  color: red;
}

table.table-borders,
table.table-borders th,
table.table-borders td {
  border: .1em solid black;
  padding: .5em;
}