[Unit]
Description=JAND DMZ service.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/jand-dmz/jand-dmz.php
User=jand
Group=jand
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
RequiredBy=network.target
