[Unit]
Description=JAND deploy installer daemon.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/jand-deploy-installer/jand-deploy-installer.php
User=jand
Group=jand
Restart=always
RestartSec=3s

[Install]
WantedBy=default.target
RequiredBy=network.target
