[Unit]
Description=JAND database connector.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/jand-db-connector/jand-db-connector.php
User=jand
Group=jand
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
RequiredBy=network.target
