main {
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

main h1 {
  text-align: center;
}

.rec-container {
  margin: 0 auto;
  background-color: #ffffff;
  margin-top: 30px;
  border-radius: 8px;
  width: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.rec {
  padding: 25px;
}

.rec table->tr th,
td {
  border: 1px solid black;
  padding: 10px;
}

th {
  padding-bottom: 2em;
}

.rec-heading {
  padding-bottom: 5px;
}

@media screen and (max-width: 650px) {
  .rec-heading, .rec{
    text-align: center;
   
  }
}

@media screen and (max-width: 450px) {
  .rec-heading{
    font-size: 120%;
  }
  .rec p{
    font-size: 90%;
  } 
  .rec table{
    font-size: 80%;
  }
  h1{
    font-size: 140%;
  }
}