[db-dmz_dmz.server]
BROKER_HOST = localhost
BROKER_PORT = 5672
USER = dmz
PASSWORD = password
VHOST = db-dmz
CLIENT_EXCHANGE = db.client
SERVER_EXCHANGE = dmz.server
SERVER_QUEUE = dmz.server
CLIENT_QUEUE_PREFIX = db.client
