[Unit]
Description=JAND deploy bundler daemon.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/jand-deploy-bundler/jand-deploy-bundler.php
User=jand
Group=jand
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
RequiredBy=network.target
