[Unit]
Description=JAND deploy bundler daemon.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/jand-deploy-bundler/jand-deploy-bundler.php
User=jand
Group=jand
Restart=always
RestartSec=3s

[Install]
WantedBy=default.target
