[Unit]
Description=JAND database timer.
After=network-online.target
Requires=network-online.target

[Timer]
OnCalendar=hourly

[Install]
WantedBy=default.target
